.StarHolder{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--Site_smallTextColor);
}

.star{
    width: 16px;
    transform: scale(.7);
    color: lawngreen;

}

  @media only screen and (max-width: 400px) {
    .StarHolder{
    gap: 2px;

    }
    
.star{
    width: 13px;
    transform: scale(.6);
    color: lawngreen;
}
}