.slot_container {
  /* background-color: #6874b9; */
  max-width: 270px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 25px;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;

}

.routeLink:active {
  transform: scale(0.98);
  transition: 0.2s;
}

.slot_heart {
  width: 24;
  height: 24;
  color: var(--Site_smallTextColor);
  border-radius: 50px;
  padding: 2px;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.slot_heart:hover {
  color: rgb(255, 50, 98);
  transition: 0.2s;
  transform: scale(1.2);
}

.slot_heart:active {
  color: rgb(255, 50, 98);
  transition: 0.2s;
  transform: scale(0.99);
}

.apiPhoto {
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slot_dataContainer {
  display: flex;
  width: 90%;
  margin: 10px;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  gap: 5px;
  color: var(--Site_smallTextColor);
}

.slot_dataContainer p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 17px;
  white-space: nowrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.slot_priceRate {
  display: flex;
  justify-content: space-between;
}

.slot_priceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.slot_priceholder p {
  font-weight: 600;
  font-size: 18px;
}

/* responsive */

@media only screen and (max-width: 400px) {
  .slot_container {
    width: 49.5%;
    height: auto;
    border: 1px solid #c4c4c449 ;
  margin-block: 0px;

  }

  .apiPhoto {
    width: 100%;
    height: 300px;
  }

  .slot_dataContainer {
    width: 95%;
    margin: 5px;
    gap: 1px;
  }

  .slot_priceRate  {
  justify-content: space-around;
  }

  .slot_dataContainer p {
    font-weight: 400;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
