#head_container {
  width: 100%;
  height: auto;
  margin-top: 120px;
  background: var(--Site_BackgroundCOlor);
  color: var(--Site_Color);
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

#header_Box {
  width: var(--Site_contentWidth);
  height: auto;
  background: #fbf0e4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 10px #fbf0e4;
}

.head_data {
  width: 55%;
  height: 86%;
  /* border: 1px dotted red;/ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
  padding-bottom: 40px;
  /* overflow: hidden; */
}

.head_data h1 {
  font-size: 60px;
  margin-top: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

.head_data div {
  background: var(--Site_Color);
  color: var(--Site_BackgroundCOlor);
  width: auto;
  height: auto;
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 20px;
}

.head_data div:hover {
  background: rgb(49, 197, 12);
  box-shadow: inset 0 0 10px 1px white;
}

.head_data div p {
  margin: 0;
}

#header_pic {
  width: 40%;
  height: 120%;
  background-size: contain;
  /* border: 1px solid red; */
  background-position: center;
  background-repeat: no-repeat;
}

.pic0 {
  background: url(../Assets/man0.png);
}

.pic1 {
  background: url(../Assets/man1.png);
}

.pic2 {
  background: url(../Assets/man2.png);
}

.pic3 {
  background: url(../Assets/man3.png);
}

.pic4 {
  background: url(../Assets/man4.png);
}

@media only screen and (max-width: 400px) {
  #head_container {
    width: 100%;
    height: auto;
    margin-top: 80px;
  }

  #header_Box {
    width: 95%;
    /* border: 1px solid black; */
    padding-left: 5px;
  }

  .head_data {
    width: 50%;
    padding-left: 0px;
    padding-bottom: 0px;
    /* border: 1px solid blue; */
  }

  .head_data h1 {
    font-size: 28px;
    margin-block: 20px;
  }

  .head_data div {
    padding: 4px 20px;
    font-size: 22px;
    margin-bottom: 5px;
  }

  #header_pic {
    width: 45%;
    height: 170%;
    background-size: 120%;
  }
}
